@model RegisterUserViewModel
<div>
    <div class="page-header">
        <h1>User Registration</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input class="form-control" placeholder="Username"
                                       asp-for="UserName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control"
                                       placeholder="Password"
                                       asp-for="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email"
                                       asp-for="Email">
                            </div>
                            <div class="form-group">
                                <label asp-for="GivenName"></label>
                                <input class="form-control" placeholder="Given name"
                                       asp-for="GivenName">
                            </div>
                            <div class="form-group">
                                <label asp-for="FamilyName"></label>
                                <input class="form-control" placeholder="Family name"
                                       asp-for="FamilyName">
                            </div>
                            <div class="form-group">
                                <label asp-for="City"></label>
                                <input class="form-control" placeholder="City"
                                       asp-for="City">
                            </div>
                            <div class="form-group">
                                <label asp-for="Country"></label>
                                <select class="form-control"
                                        asp-for="Country"
                                        asp-items="@Model.CountryCodes"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Profile"></label>
                                <select class="form-control"
                                        asp-for="Profile"
                                        asp-items="@Model.ProfileList"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Company"></label>
                                <input class="form-control" asp-for="Company" placeholder="Company">
                            </div>
                            <div class="panel-default">
                                <h3 class="panel-body">If you are a Tech Profile, please fill below:</h3>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stack"></label>
                                <select class="form-control"
                                        asp-for="Stack"
                                        asp-items="@Model.StackList"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Seniority"></label>
                                <select class="form-control"
                                        asp-for="Seniority"
                                        asp-items="@Model.SeniorityList"></select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Register</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


